.project {
    margin-bottom: 2.5rem;
}

.project a {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.35rem;
    text-decoration: none;
    color: var(--text-muted);
    padding-bottom: 2px;
}

.project a:hover,
.project a.active {
    border-bottom: 2px solid var(--text-main);
}

.project .project-desc {
    color: var(--text-main);
    font-size: 0.95rem;
    margin-bottom: 0.35rem;
}

.project .project-tech {
    color: var(--text-muted);
    font-size: 0.85rem;
    margin: 0.5rem auto;
}
